
<div class="row">
    <div class="card" *ngFor="let product of productList" style="width: 18rem;">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{product.name |uppercase}}</h5>
        <h5>{{product.price}}</h5>
        <p class="card-text">{{product.description}}</p>
        <button class="btn btn-primary" (click)="onEditProduct(product.id)">Edit</button>
                <button class="deleteProduct" (click)="deleteProduct(product.id)">Delete</button>

    </div>

    </div>
</div>
</div>


